<!DOCTYPE html>
<html>
<head>
	<title>Mijn Resto</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>


  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="hero-unit center">
            <h1>Niet gevonden... <small><font face="Tahoma" color="red">Error 404</font></small></h1>
            <br />
            <p>De pagina die u probeert te bezoeken bestaat niet :/</p>
            <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Klik hier om terug te gaan</a>
          </div>
          <br />
        </div>
      </div>

      

    </div> <!-- /container -->

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	  <script
	  src="https://code.jquery.com/jquery-2.2.4.min.js"
	  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	  crossorigin="anonymous"></script>
	  <script src="../../../../../../../../../../js/bootstrap.js"></script>
	  <script src="../../../../../../../../../../../../controllers/controller.js"></script>
</body>
</html>
