 <h2 class="page-header">Welkom!</h2>
<p>Wat wenst u te doen?</p>
<a href="/restaurants"><button class="btn btn-classic">Wijzig restaurants</button></a></li> </br> </br>
<a href="/maaltijden"><button class="btn btn-classic">Wijzig maaltijden</button></a></li>
