<h2 class="page-header">Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Gebruikersnaam</label>
    <input type="text" class="form-control" name="username" placeholder="Gebruikersnaam">
  </div>
  <div class="form-group">
    <label>Wachtwoord</label>
    <input type="password" class="form-control" name="password" placeholder="Wachtwoord">
  </div>
  <button type="submit" class="btn btn-default"> Inloggen </button>
</form>
