<style>
    .mdl-data-table {
        table-layout:fixed;
        width:100%;
    }
    #my-table td, th {
      width: 100%;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      word-break: break-all;
      word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    }


    /* unrelated to responsive table css */
    #my-table{
      margin-top:24px;
    }

    .mdl-data-table th, td{
      text-align: left !important;
    }
    .center{
      text-align:center;
    }

    .allergyp{
      margin: 0;
      padding: 0;
    }

    </style>











<section class="mdl-grid" id="my-table">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-cell--stretch">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" ng-controller="AppCtrl">
      <h4>Maaltijden </h4>
      <thead style="width: 100%">
        <tr style="background-color: #e2fff6">

          <th style="width: 120px" class="mdl-data-table__cell--non-numeric"> datum_creatie </th>
          <th class="mdl-data-table__cell--non-numeric"> datum </th>
          <th class="mdl-data-table__cell--non-numeric"> beschrijving </th>
          <th class="mdl-data-table__cell--non-numeric"> id </th>
          <th class="mdl-data-table__cell--non-numeric"> prijs </th>
          <th class="mdl-data-table__cell--non-numeric"> restaurant_id </th>
          <th class="mdl-data-table__cell--non-numeric"> titel </th>
          <th style="width: 120px" class="mdl-data-table__cell--non-numeric"> datum_update </th>
          <th class="mdl-data-table__cell--non-numeric"> Allergenen </th>
          <th style="width: 120px"> Actie </th>

            </div>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: #e2fff6">

                <td style="width: 120px" class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Datum_creatie"  ng-model="maaltijd.datum_creatie" placeholder="Datum_creatie">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Datum" ng-model="maaltijd.datum" placeholder="Datum dd-mm-yy" mask="39/19/9999">
                  </div>
                </td>

                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="Beschrijving" ng-model="maaltijd.beschrijving" placeholder="Beschrijving"></textarea>
                  </div>
                </td>

                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Id"  ng-model="maaltijd.id" placeholder="Id">
                  </div>
                </td>

                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Prijs"  ng-model="maaltijd.prijs" placeholder="Prijs">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Restaurant_id" ng-model="maaltijd.restaurant_id" placeholder="Restaurant_id">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="Titel" placeholder="Titel"  ng-model="maaltijd.titel"></textarea>
                  </div>
                </td>

                <td style="width: 120px" class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Datum_update" ng-model="maaltijd.datum_update" placeholder="Datum_update">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <button id="allergenenbuttonup" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">vertical_align_bottom</i>
                  </button>
                  <button id="allergenenbuttondown" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">vertical_align_top</i>
                  </button>
                  <div id="allergenenlist">
                    <br>
                        <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.gluten"> Gluten <br>
                         <input type="checkbox" id="checkbox2" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.schaaldieren"> Schaaldieren <br>
                          <input type="checkbox" id="checkbox3" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.eieren"> Eieren <br>
                           <input type="checkbox" id="checkbox4" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.vis"> Vis <br>
                          <input type="checkbox" id="checkbox5" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.aardnoten"> Aardnoten <br>
                             <input type="checkbox" id="checkbox6" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.soja"> Soja <br>
                            <input type="checkbox" id="checkbox7" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.melk"> Melk <br>
                             <input type="checkbox" id="checkbox8" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.noten"> Noten <br>
                              <input type="checkbox" id="checkbox9" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.selderij"> Selderij <br>
                               <input type="checkbox" id="checkbox10" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.mosterd"> Mosterd <br>
                              <input type="checkbox" id="checkbox11" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.sesamzaad"> Sesamzaad <br>
                               <input type="checkbox" id="checkbox12" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.zwavel"> Zwaveldioxide <br>
                                <input type="checkbox" id="checkbox13" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.lupine"> Lupine <br>
                                 <input type="checkbox" id="checkbox14" class="mdl-checkbox__input" ng-model="maaltijd.allergenen.weekdieren"> Weekdieren


                  </div>
                  <!--<div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Allergenen" ng-model="maaltijd.allergenen" placeholder="Allergenen">
                  </div>-->
                </td>

                <td style="width: 120px">
                  <button id="add" class="mdl-button mdl-js-button mdl-button--icon" ng-click="addMaaltijd()">
                    <i class="material-icons">add</i>
                  </button>
                  <button id="update" class="mdl-button mdl-js-button mdl-button--icon" ng-click="update()">
                    <i class="material-icons">publish</i>
                  </button>
                </td>
              </div>
        </tr>
        <tr ng-repeat="maaltijd in maaltijdList">
          <td style="width: 120px"><p ng-bind="maaltijd.datum_creatie"></p></td>
          <td style="width: 120px"><p ng-bind="maaltijd.datum"></p></td>
          <td><p ng-bind="maaltijd.beschrijving"></p></td>
          <td><p ng-bind="maaltijd.id"></p></td>
          <td><p ng-bind="maaltijd.prijs"></p></td>
          <td><p ng-bind="maaltijd.restaurant_id"></p></td>
          <td><p ng-bind="maaltijd.titel"></p></td>
          <td style="width: 120px"><p ng-bind="maaltijd.datum_update"></p></td>
          <td>
            <div ng-repeat="allergeen in maaltijd">
              <p ng-if="allergeen.gluten == true" class="allergyp">
                Gluten
              </p>
              <p ng-if="allergeen.schaaldieren == true" class="allergyp">
                Schaaldieren
              </p>
              <p ng-if="allergeen.eieren == true" class="allergyp">
                Eieren
              </p>
              <p ng-if="allergeen.vis == true" class="allergyp">
                Vis
              </p>
              <p ng-if="allergeen.aardnoten == true" class="allergyp">
                Aardnoten
              </p>
              <p ng-if="allergeen.soja == true" class="allergyp">
                Soja
              </p>
              <p ng-if="allergeen.melk == true" class="allergyp">
                Melk
              </p>
              <p ng-if="allergeen.noten == true" class="allergyp">
                Noten
              </p>
              <p ng-if="allergeen.selderij == true" class="allergyp">
                Selderij
              </p>
              <p ng-if="allergeen.mosterd == true" class="allergyp">
                Mosterd
              </p>
              <p ng-if="allergeen.sesamzaad == true" class="allergyp">
                Sesamzaad
              </p>
              <p ng-if="allergeen.zwavel == true" class="allergyp">
                Zwaveldioxide
              </p>
              <p ng-if="allergeen.lupine == true" class="allergyp">
                Lupine
              </p>
              <p ng-if="allergeen.weekdieren == true" class="allergyp">
                Weekdieren
              </p>
            </div>
          </td>
          <td>
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="remove(maaltijd._id)">
              <i class="material-icons">delete</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="edit(maaltijd._id)">
              <i class="material-icons">create</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-layout-spacer"></div>
</section>




<script type="text/javascript">
  document.getElementById('allergenenlist').style.display = 'none';
  document.getElementById('allergenenbuttondown').style.display = 'none';
  document.getElementById('allergenenbuttonup').style.display = 'inline';

  document.getElementById('allergenenbuttonup').onclick = function(){
    document.getElementById('allergenenlist').style.display = 'inline';
    document.getElementById('allergenenbuttonup').style.display = 'none';
    document.getElementById('allergenenbuttondown').style.display = 'inline';
  };


  document.getElementById('allergenenbuttondown').onclick = function(){
    document.getElementById('allergenenlist').style.display = 'none';
    document.getElementById('allergenenbuttondown').style.display = 'none';
    document.getElementById('allergenenbuttonup').style.display = 'inline';
  };

  document.getElementById('add').onclick = function(){
    document.getElementById('allergenenlist').style.display = 'none';
    document.getElementById('allergenenbuttondown').style.display = 'none';
    document.getElementById('allergenenbuttonup').style.display = 'inline';
  };

  document.getElementById('update').onclick = function(){
    document.getElementById('allergenenlist').style.display = 'none';
    document.getElementById('allergenenbuttondown').style.display = 'none';
    document.getElementById('allergenenbuttonup').style.display = 'inline';
  };

</script>
