


<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--6-col">
    <h3>Uw e-mail is succesvol gewijzigd! </h3>
    <a href="/"><button class="mdl-button mdl-js-button mdl-button--primary">
      TERUG NAAR HOME
    </button></a>
  </div>
	<div class="mdl-layout-spacer"></div>
</div>
