

<style>
    .mdl-data-table {
        table-layout:fixed;
        width:100%;
    }
    #my-table td, th {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }


    /* unrelated to responsive table css */
    #my-table{
      margin-top:24px;
    }
    .mdl-data-table th, td{
      text-align: left !important;
    }
    .center{
      text-align:center;
    }
    </style>


<section class="mdl-grid" id="my-table">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-cell--stretch">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" ng-controller="RestaurantCtrl">
      <h4>Restaurants </h4>
      <thead style="width: 100%">
        <tr style="background-color: #e2fff6">

              <th class="mdl-data-table__cell--non-numeric"> adres </th>

              <th class="mdl-data-table__cell--non-numeric"> created_at </th>

              <th class="mdl-data-table__cell--non-numeric"> id </th>

              <th class="mdl-data-table__cell--non-numeric"> lat </th>

              <th class="mdl-data-table__cell--non-numeric"> lng </th>

              <th class="mdl-data-table__cell--non-numeric"> naam </th>

              <th class="mdl-data-table__cell--non-numeric"> openingsuren </th>

              <th style="width: 120px"> Actie </th>

            </div>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: #e2fff6">

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="adres"  ng-model="restaurant.adres" placeholder="Adres"></textarea>
                    <!--<label class="mdl-textfield__label" for="adres">Adres</label>-->
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="created_at" ng-model="restaurant.created_at" placeholder="Created_at">
                  </div>
                </td>

                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="id" ng-model="restaurant.id" placeholder="Id">
                  </div>
                </td>

                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="lat"  ng-model="restaurant.lat" placeholder="Lat">
                  </div>
                </td>

                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="lng"  ng-model="restaurant.lng" placeholder="Lng">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="naam" ng-model="restaurant.naam" placeholder="Naam">
                  </div>
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                  <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="openingsuren" placeholder="Openingsuren"  ng-model="restaurant.openingsuren"></textarea>
                  </div>
                </td>

                <td style="width: 120px">
                  <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="addResto()">
                    <i class="material-icons">add</i>
                  </button>
                  <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="updateResto()">
                    <i class="material-icons">publish</i>
                  </button>
                </td>
              </div>
        </tr>
        <tr ng-repeat="restaurant in restaurantList">
          <td><p ng-bind="restaurant.adres"></p></td>
          <td><p ng-bind="restaurant.created_at"></p></td>
          <td><p ng-bind="restaurant.id"></p></td>
          <td><p ng-bind="restaurant.lat"></p></td>
          <td><p ng-bind="restaurant.lng"></p></td>
          <td><p ng-bind="restaurant.naam"></p></td>
          <td><p ng-bind="restaurant.openingsuren"></p></td>
          <td>
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="removeResto(restaurant._id)">
              <i class="material-icons">delete</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="editResto(restaurant._id)">
              <i class="material-icons">create</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-layout-spacer"></div>
</section>
